#Grid1ContainerDiv #Grid1ContainerTbl tr.GridClearOdd {
  background-color: #F3F3F3;
  cursor: pointer;
}
#Grid1ContainerDiv #Grid1ContainerTbl tr.GridClearOdd:hover {
  background-color: #F0F0F0;
}
tr[class^='GridClear'].sigabeautifier-active {
  background-color: #5a8bb5 !important;
  color: #ffffff!important;
}

tr[class^='GridClear'].sigabeautifier-active>td>span.ReadonlyAttribute {
  color: #ffffff!important;
}

th.GridClearTitle {
  font-family: Helvetica;
  font-weight: 100;
}
#TABLE3 tr[class^='GridClear'] {
  white-space: nowrap;
  font-size: 11.5pt;
  background-color: #FAFAFA;
  text-align: center;
  text-indent: 5px;
}
#TABLE3 tr[class^='GridClear']:nth-child(even) {
  background-color: WhiteSmoke;
}
#TABLE3 tr[class^='GridClear'] > td {
  padding-top: 4px; 
  padding-bottom: 4px;
}
#Grid1ContainerDiv #Grid1ContainerTbl tr.GridClearOdd > td {
  padding: 8px 4px;
}

#Grid1ContainerDiv #Grid1ContainerTbl tr.GridClearOdd span.sigabeautifier-label {
  margin-right: 4px;
}

#Grid1ContainerDiv #Grid1ContainerTbl td, #Grid1ContainerDiv #Grid1ContainerTbl th {
  font-family: Helvetica;
}

.sigabeautifier-btn-print {
  margin: 25px;
}