<div class="card hovercard">
    <div class="cardheader">

    </div>
    <div class="avatar">
        <img alt="" src="{{avatar}}">
    </div>
    <div class="info">
        <div class="title">{{nomecurto}}</div>
        <div class="desc"><b>Curso</b> {{curso}} - {{periodo}}</div>
        <div class="desc"><b>RA</b> {{ra}}</div>
        <div class="desc"><b title="Percentual de Progressão (PP) é a fração da carga horária já cumprida pelo aluno em relação à carga horária total do curso.">Percentual de Progressão</b> {{progressao}}%</div>
        <div class="desc"><b title="Percentual de Rendimento (PR) é a média acumulada de todas as atividades curriculares realizadas pelo aluno, ponderada pela carga horária da respectiva atividade.">Percentual de Rendimento</b> {{mediacurso}}</div>
        <div class="desc"><b>Maior PR do Curso</b> {{maiormediacurso}}</div>
    </div>
    <div class="bottom">
        <!--
            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-danger btn-sm" rel="publisher"
               href="https://plus.google.com/+ahmshahnuralam">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-primary btn-sm" rel="publisher"
               href="https://plus.google.com/shahnuralam">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                <i class="fa fa-behance"></i>
            </a>
        -->
    </div>
</div>